/*
Esto es un comentario
*/
*{
    padding: 0;
    margin: 0;
}

/* p {
    color:blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
} */

#nav_bar{
    /* background-color:rgb(204, 201, 201); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%; /*Lista ocupa el 100% pantalla*/
    position: fixed;/*Mantiene el menu fijo a pesar del scroll*/
}

ul{
    list-style: none;
}

#menu>li{
    float: left;
    text-align:center;
    width: calc(100% / 6); /* añade esto, se divide por 6 porque hay 6 elementos */
}

#menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    /* min-width: 100px; */
    width: 100%;
    transition: all 500ms ease; /*Hacer la transición mas suave*/
}

#menu li>a:hover{
    /* color: black; */
    background-color: blue;
}

#caja{
    width: 100%;
    height: 1000px;
    background-color: transparent;
}

h1{
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    text-align: center;
}

#Registerbutton{
    width: 50px;
    height: 30px;
    position: relative;
}

#Cancelarbutton{
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    position: relative;
}

#Backbutton{
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    position: relative;
}

#Registerbutton:hover{
    background-color: blue;
    color: white;
    padding: 5px;
}
#Cancelarbutton:hover{
    background-color: blue;
    color: white;
    padding: 5px;
}
#Backbutton:hover{
    background-color: blue;
    color: white;
    padding: 5px;
}

#formRegistro{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#campoNombre{
    padding: 5px;
}
#campoUsuario{
    padding: 5px;
}
#campoPass{
    padding: 5px;
}
#campoDireccion{
    padding: 5px;
}
#campoCorreo{
    padding: 5px;
}
#campoConfCorreo{
    padding: 5px;
}
#campoMovil{
    padding: 5px;
}

.celda{
    border: green 1.5px solid;
}

#boton
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #cecece;
    border-radius: 20px;
    border: 2px solid #070707;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
#boton:hover
{
    color: #ffffff;
    background-color: #3aa4be;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#boton:active
{
    color: rgb(246, 248, 247);
    background-color: rgb(22, 207, 183);
}